<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start" (click)="Times()">
        <ion-button color="success">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
     </ion-buttons>
    <ion-title>Times</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-label position="floating">Descricao</ion-label>
        <ion-input [(ngModel)]="descricao"></ion-input>
      </ion-item>
  
       

        <ion-list>      
          <ion-item>
            <ion-label> Situacao </ion-label>
            <ion-select [(ngModel)]="ativo" placeholder="Select One">
              <ion-select-option value='A' >Ativo</ion-select-option>
              <ion-select-option value='N'>Inativo</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        
         
          
              <ion-button *ngIf="!id" color="success" expand="block" (click)="cadastrar()">
                Salvar
              </ion-button>

              <ion-button *ngIf ="id>=1"color="danger" expand="block" (click)="editar()">
                Editar
              </ion-button>
           
</ion-content>