<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
    <ion-buttons slot="end">
        <ion-button color="tertiary"  (click)="logout()">
          <ion-icon slot="end" name="log-out"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/logo.png" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Vamos Jogar!!!</ion-card-subtitle>
        <ion-card-title>{{nomelogado}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Começar Partida!!!</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Atletas</ion-label>
      </ion-list-header>
     
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Jogos</ion-label>
      </ion-item>
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Confirmacao dos Jogos</ion-label>
      </ion-item>
      
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Controle de pagamento</ion-label>
      </ion-item>
      
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Controle dos jogos</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
