<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" (click)="pagamento()">
            <ion-button color="success">
              <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
         </ion-buttons>
      <ion-title>Pagamento</ion-title>
    </ion-toolbar>
  </ion-header>

  
<ion-content ion-padding>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          
          refreshingSpinner="circles"
          refreshingText="Carregando...">
        </ion-refresher-content>
      </ion-refresher>


  <ion-content>
      <ion-card>
        <ion-card-header>
         
          <ion-card-subtitle>Local:</ion-card-subtitle>
          <ion-card-title>{{localjogo}}</ion-card-title>
        </ion-card-header>
    
        <ion-card-content>
         Data e Hora:  {{datajogo}}<br>
         Valor: R${{valor}}  
         identificador: {{id}}
        </ion-card-content>
      </ion-card>
     

        
        <ion-card-header>
         
           
            <ion-card-title>Confirmados</ion-card-title>
          </ion-card-header>
            <ion-list  *ngFor="let confirmado of confirmados">
                <ion-item-sliding>
                  <ion-item>
                    <ion-label>{{confirmado.nome}}- {{confirmado.idtbusuario}}</ion-label>
                  </ion-item>
        
                  <ion-item-options side="end">
              
                    <ion-item-option color="success" (click)="pagar(confirmado.idtbusuario)">Pago</ion-item-option>
                  </ion-item-options>
                </ion-item-sliding>
              </ion-list>
            
              
    </ion-content>
    