<ion-header>
    <ion-toolbar>
      
      <ion-buttons slot="start" (click)="Times()">
          <ion-button color="success">
            <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
       </ion-buttons>
      <ion-title>Jogos</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
      <ion-item>
          <ion-label position="floating">Local</ion-label>
          <ion-input [(ngModel)]="localjogo"></ion-input>
        </ion-item>
    
        <ion-item>
            <ion-label>Data - Hora</ion-label>
            <ion-datetime [(ngModel)]="datajogo" displayFormat="D MMM YYYY H:mm"  ></ion-datetime>
          </ion-item>
  
         
          <ion-item>
              <ion-label position="floating">Valor</ion-label>
              <ion-input [(ngModel)]="valor"></ion-input>
            </ion-item>
            <ion-content padding>
                <ion-item>
                    <ion-label position="floating">Time</ion-label>
                    <ion-input [(ngModel)]="idtbtime"></ion-input>
                  </ion-item>
            
                <ion-button *ngIf="!id" color="success" expand="block" (click)="cadastrar()">
                  Salvar
                </ion-button>
  
                <ion-button *ngIf ="id>=1"color="danger" expand="block" (click)="editar()">
                  Editar
                </ion-button>
             
  </ion-content>